* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --green-gradient: linear-gradient(to right, #07bc9b, #1ba49c);
}

body {
    font-family: "Poppins", "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #eeeeee;
}

.header {
    width: 100%;
    padding: .5rem 0;
    background: var(--green-gradient);
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 40px;
}

.container {
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    padding: 10px 20px 20px;
}

.container h2 {
    color: #50555c;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
}

table td,
table th {
    padding: 5px 10px;
    /* border-bottom: 2px solid #dddddd; */
}

table th {
    border: 2px solid white;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #dddddd;
}

table td {
    font-size: 1.6rem;
    vertical-align: top;
}

table thead {
    width: 100%;
    background: var(--green-gradient);
    color: white;
}

table tbody {
    color: #50555c;
}

.head1 {
    width: 5%;
    text-align: center;
}

.head2 {
    width: 20%;
}

.head3 {
    width: 35%;
}