* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: "Poppins", "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #eeeeee;
    text-align: center;
    color: #505050;
}

.header {
    margin-top: 70px;
    font-size: 2rem;
    color: #07bc9b;
}


.form {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    width: 100%;
    height: 40px;
    border: 3px solid #07bc9b;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 1.8rem;
}

.form button {
    width: 150px;
    height: 40px;
    border: none;
    background: linear-gradient(to right, #07bc9b, #1ba49c);
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.8rem;
    transition: 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.form button:hover {
    background: linear-gradient(to left, #07bc9b, #1ba49c);
    color: #2a3b4e;
}

.form button:active {
    box-shadow: none;
}

.error {
    margin-bottom: 10px;
    color: #f44336;
}