* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --green-gradient: linear-gradient(to right, #07bc9b,
            #1ba49c);
    --green-gradient-left: linear-gradient(to left, #07bc9b, #1ba49c);
    --gray: #50555c;
    --dark-blue: #2a3b4e;
    scroll-behavior: smooth;

}

/* Javascript style */

/* Javascript style */

img {
    display: block;
    margin: 0;
    align-items: flex-start;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

/* GENERAL STYLE */

.center-row {
    display: flex;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfect-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pad,
h1.title {
    padding: 0 100px;
}

h1.title {
    padding-top: 70px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--dark-blue);
    font-size: 3.5rem;
}

.green-button {
    margin-top: 10px;
    font-size: 2rem;
    padding: 0.25em 0.5em;
    border: 3px solid #07bc9b;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    color: #07bc9b;
    transition: 0.3s, transform 0.1s;
    font-weight: 500;
    cursor: pointer;
}

.green-button:hover {
    color: white;
    background-color: #07bc9b;
}

.green-button:active {
    transform: scale(0.95);
}

/* GENERAL STYLE */

.header {
    width: 100%;
    height: 70px;
    background: none;
    color: white;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar {
    width: 50%;
}

.navbar ul {
    justify-content: space-between;
}

.navbar ul li a {
    color: white;
}

.navbar ul li a:hover {
    border-bottom: 3px solid white;
}

.container {
    /* margin-top: 70px; */
    color: var(--gray);
}

.hero {
    width: 100%;
    height: 660px;
    color: white;
    background: url(../img/herson-rodriguez-96106-unsplash-forweb-filter.jpg);
    background-position: -130px -150px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    text-align: center;
}

.hero h2 {
    font-size: 6rem;
}

.hero p {
    font-size: 2rem;
}


.about {
    width: 100%;
    display: flex;
}

.about img {
    width: 200px;
    height: 285px;
    margin-right: 30px;
    border-radius: 10px;
}

.about-me p {
    font-size: 1.8rem;
}

.profile {
    margin: 15px 0;
}

.profile p {
    margin-bottom: 5px;
}

.profile span {
    color: #07bc9b;
}

.education {
    width: 100%;
}

.edu {
    display: flex;
}

.edu img {
    width: 400px;
    height: 300px;
    margin: 0 50px 70px 0;
    border-radius: 20px;
}

.nama-sekolah {
    color: #07bc9b;
    font-size: 1.8rem;
}

.tahun {
    color: #ff7f50;
}

.keterangan button {
    margin-top: 10px;
    font-size: 1.6rem;
}


.portfolio {
    width: 100%;
    background: #eeeeee;
}

.portfolio .projects {
    padding: 0px 75px 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.project {
    position: relative;
}

.project img {
    width: 350px;
    height: 226.5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.project-name {
    display: none;
    width: 350px;
    height: 226.5px;
    position: absolute;
    top: 0;
    text-align: center;
    flex-direction: column;
    background-color: #2a3b4e;
}

.project-name h3 {
    margin-bottom: 100px;
    color: #07bc9b;
}

.project-name button,
.service button,
.form button {
    width: 300px;
    height: 40px;
    border: none;
    background: var(--green-gradient);
    color: white;
    font-size: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s, transform .1s;
}

.project-name button:hover,
.service button:hover,
.form button:hover {
    background: var(--green-gradient-left);
    color: var(--dark-blue);
}

.project-name button:active,
.service button:active,
.form button:active {
    transform: scale(.97);
}

.services {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.service {
    width: 250px;
    height: 450px;
    background-color: var(--dark-blue);
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    padding: 20px 10px 15px;
}

.service h3 {
    font-size: 1.8rem;
    color: #07bc9b;
    font-weight: normal;
}

.service p {
    font-size: 1.4rem;
    color: white;
}

.service img {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 75px;
}

.service button {
    width: 270px;
}

.contact {
    width: 55%;
    margin: auto;
    background-color: #eeeeee;
    border-radius: 5px;
    overflow: hidden;
}


.contact .form {
    width: 100%;
    padding: 20px 30px;
}

.contact h3 {
    background: var(--green-gradient);
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 2rem;
}

.form input,
.form textarea {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: var(--gray);
    font-size: 1.8rem;
    font-family: "Poppins", "Roboto", sans-serif;
}

.form p {
    margin-bottom: 20px;
}


.form textarea {
    height: 120px;
    padding-top: 10px;
    font-size: 1.6rem;
}

.error {
    color: rgba(0, 0, 0, 0);
}

.submit-btn {
    width: 100%;
}

.footer {
    width: 100%;
    margin-top: 50px;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    background-color: #33485f;
}

.footer-info {
    height: 100%;
    background-color: var(--dark-blue);
    padding: 15px 0;
}

.social-media {
    width: 300px;
    margin: auto;
    justify-content: space-between;
}

.social-media img {
    width: 55px;
    height: 55px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
    transition: .2s;
}

.social-media img:hover {
    transform: scale(1.1);
}

.social-media img:active {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
}